  html{
    font-family: 'oswald',sans-serif;
    src:url(../Oswald/Oswald-VariableFont_wght.ttf) format('truetype');
  }
  header{
    background-color: lightyellow;
  }

  main{
    margin: 1rem;
  }
  nav{
    margin-top: 2rem;
    text-align: center;
    float: right;
    padding:1rem;
  }

  nav >a{
    text-decoration: none;
    justify-content: space-between;
  }


  h2{
    font-size: 24px;
    text-align: left;
  
  }

  article>img{
    float: left;
    text-align: justify;
    
  }

  article{
    margin-right: auto;
  }

  article > p{
    font-size: 16px;
  }

  
  .clear{
    clear: both;
  }
  body{
    max-width: 750px;
    margin:0 auto;
  }

  article >a{
    float: right;
    text-align: center;
    background-color:orange ;
    text-decoration: none;
    margin-right: 1em;
    height: 2rem;
    width: 5rem;
  }

  @font-face{
    font-family: 'oswald';
    src:url(../Oswald/Oswald-VariableFont_wght.ttf) format('truetype');
  }
